h1{
    color: brown;
}

p{
    color: yellow;
}
.main-text{

    color: green;
}

.btn_link{
    color: brown;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}