*{
    text-decoration: none;
}


body{
    background-color: grey;
}


.list_style_type{
list-style-type: none;
}

.main_text_list{list-style-type: none;
}


.main_text_list ::after{
   content: "45" ;
   color: aqua;
   font-size: 20px;
}


.container{
    width: 80%;
    
    margin: 0 auto;
    
}

.box_pading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_pading p{
  background-color: aqua;
  width: 20px;
  padding: 20px;
  margin: 10px;
 
}

